<% @other = Type.where(pachi_slot: "その他").pluck(:id) %>
<% @total = Budget.where(type_name_id: @other).sum(:total) %>
<% @price = Budget.where(type_name_id: @other).sum(:price) %>
<% @recovery = Budget.where(type_name_id: @other).sum(:recovery) %>
<% @num = Budget.where(type_name_id: @other).count %>


<% win = 0 %>
<% lose = 0 %>
<% draw = 0 %>
<% probability = 0 %>

<% if @budgets.exists?(type_name_id: @other) %>

<div class="main-budget">
  <div class="budget">
    <div class="main-data">
      <p><%= "その他TOTAL" %></p>

      <% if @total.to_i < 0 %>
        <p>収支<span style="color:red"><%= "#{number_to_currency(@total, strip_insignificant_zeros: true)}" %></span></p>
      <%elsif @total.to_i == 0%>
        <p>収支<%= "#{number_to_currency(@total, strip_insignificant_zeros: true)}" %></p>
      <%else%>
        <p>収支<span style="color:blue"><%= "+#{number_to_currency(@total, strip_insignificant_zeros: true)}" %></span></p>
      <%end%>
    </div>
    <div class="data">
      <div class="toshi-data">
        <div class="win-data">
          <ul>
            <li>回数</li>
            <li>勝率</li>
          </ul>
        </div>
        <div class="price-data">
          <ul>
            <li><%= "#{@num}回" %></li>

            <% Budget.where(type_name_id: @other).pluck(:total).each do |budget| %>
            <% if budget.to_i > 0 %>
            <% win += 1 %>
            <% elsif budget.to_i < 0 %>
            <% lose += 1 %>
            <% elsif budget.to_i == 0 %>
            <% draw += 1 %>
            <%end%>
            <%end%>
            <li><%= "#{probability = (win/@num.to_f*100).floor(2)}% (#{win}勝#{lose}敗#{draw}分)" %></li>
          </ul>
        </div>
      </div>
      <div class="toshi-data">
        <div class="win-data">
          <ul>
            <li>投資</li>
            <li>回収</li>
          </ul>
        </div>
        <div class="price-data">
          <ul>
            <li><%= "#{number_to_currency(@price, strip_insignificant_zeros: true)}"  %></li>
            <li><%= "#{number_to_currency(@recovery, strip_insignificant_zeros: true)}" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>
