<% @total = Budget.group("YEAR(start_time)").sum(:total) %>
<% @price = Budget.group("YEAR(start_time)").sum(:price) %>
<% @recovery = Budget.group("YEAR(start_time)").sum(:recovery) %>
<% @num = Budget.group("YEAR(start_time)").count %>
<% @year = @num.keys %>


<% @year.each do |year| %>

<% win = 0 %>
<% lose = 0 %>
<% draw = 0 %>
<% probability = 0 %>

<div class="main-budget">
  <div class="budget">
    <div class="main-data">
      <p><%= "#{year}年" %></p>

      <% if @total[year].to_i < 0 %>
        <p>収支<span style="color:red"><%= "#{number_to_currency(@total[year], strip_insignificant_zeros: true)}" %></span></p>
      <%elsif @total[year].to_i == 0%>
        <p>収支<%= "#{number_to_currency(@total[year], strip_insignificant_zeros: true)}" %></p>
      <%else%>
        <p>収支<span style="color:blue"><%= "+#{number_to_currency(@total[year], strip_insignificant_zeros: true)}" %></span></p>
      <%end%>

    </div>
    <div class="data">
      <div class="toshi-data">
        <div class="win-data">
          <ul>
            <li>回数</li>
            <li>勝率</li>
          </ul>
        </div>
        <div class="price-data">
          <ul>

            <% Budget.where(start_time: "#{year}-01-01".."#{year}-12-31").pluck(:total).each do |budget| %>
            <% if budget.to_i > 0 %>
            <% win += 1 %>
            <% elsif budget.to_i < 0 %>
            <% lose += 1 %>
            <% elsif budget.to_i == 0 %>
            <% draw += 1 %>
            <%end%>
            <%end%>
            <li><%= "#{@num[year]}回 (#{win}勝#{lose}敗#{draw}分)" %></li>
            <li><%= "#{probability = (win/@num[year].to_f*100).floor(2)}%" %></li>
          </ul>
        </div>
      </div>
      <div class="toshi-data">
        <div class="win-data">
          <ul>
            <li>投資</li>
            <li>回収</li>
          </ul>
        </div>
        <div class="price-data">
          <ul>
            <li><%= "#{number_to_currency(@price[year], strip_insignificant_zeros: true)}"  %></li>
            <li><%= "#{number_to_currency(@recovery[year], strip_insignificant_zeros: true)}" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%end%>