<%= render "layouts/header" %>

<div class="contents row">
  <div class="more">
    <% @budgets.each do |budget| %>
      <% if budget.image.attached? %>
      <%= budget.start_time %>
      <% if budget.total.to_i < 0 %>
        <p>収支<span style="color:red"><%= "#{number_to_currency(budget.total, strip_insignificant_zeros: true)}" %></span></p>
      <%elsif budget.total.to_i == 0%>
        <p>収支<%= "#{number_to_currency(budgte.total, strip_insignificant_zeros: true)}" %></p>
      <%else%>
        <p>収支<span style="color:blue"><%= "+#{number_to_currency(budget.total, strip_insignificant_zeros: true)}" %></span></p>
      <%end%>
      <%end%>
      <%= link_to edit_budget_path(budget) do %>
      <%= image_tag budget.image.variant(resize: '300x300'), class: "budget-image" if budget.image.attached? %>
      <%end%>
    <%end%>
  </div>
</div>

<%= render "layouts/footer" %>