<%= render "header" %>

<%= month_calendar events: @budgets do |date, budgets| %>
<%= date.day %>
<ul class="show-lists hidden" id="pull-down" >
  <li><%= link_to "結果作成", new_budget_path(date) %></li>
  <li><%= link_to "結果詳細", "#" %></li>
</ul>

<% @sum = 0 %>
<% budgets.each do |budget| %>
<% @sum += budget.total.to_i %>
<% end %>
<% if @sum.to_i > 0 %>
<div><span style="color:blue">+<%= @sum %></span></div>
<% elsif @sum.to_i == 0 && budgets.present? %>
<div><span style="color:black"><%= @sum %></span></div>
<% elsif @sum.to_i < 0 %>
<div><span style="color:red"><%= @sum %></span></div>
<% end %>
<% end %>

<% @budgets.each do |budget| %>
<% if budget.total.to_i > 0 %>
<div>
  <span style="color:blue">+<%= link_to budget.total, edit_budget_path(budget.id) %></span>
</div>
<% elsif budget.total.to_i == 0 %>
<div>
  <span style="color:black"><%= link_to budget.total, edit_budget_path(budget.id) %></span>
</div>
<% else %>
<div>
  <span style="color:red"><%= link_to budget.total, edit_budget_path(budget.id) %></span>
</div>
<% end %>
<% end %>

<%= render "footer" %>