<%= render "header" %>

<%= month_calendar events: @budgets do |date, budgets| %>
<%= link_to date.day, new_budget_path(date) %>

<% budgets.each do |budget| %>
<div><%= link_to budget.total, edit_budget_path(budget.id) %></div>
<% end %>
<% end %>

<%= render "footer" %>