<div class="new">
  <h1 class="heading-name">結果作成</h1>

  <div class="contents">
  <%= form_with(model: @budget, local: true) do |f| %>

  <%= render 'layouts/error_messages', model: f.object %>

    <div class="content">
      <%= f.label :start_time, "日付"%>
      <div class="left-content">
      <%= f.date_select :start_time, default: {year: @day_params[:year],month: @day_params[:mon],day: @day_params[:mday]} %>
      </div>
    </div>

    <div class="content">
      <%= f.label :store_id, "ホール名" %>
      <div class="left-content">
      <%= f.collection_select :store_id, Hall.all, :id, :store, {prompt: "選択してください"} %>
      <%= link_to 'ホール作成', halls_path %>
      </div>
    </div>

    <div class="content">
      <%= f.label :type_name_id, "機種名" %>
      <div class="left-content">
      <%= f.collection_select :type_name_id, Type.all, :id, :type_name, {prompt: "選択してください"} %>
      <%= link_to '機種作成', types_path %>
      </div>
    </div>

    <div class="content">
      <%= f.label :price, "投資" %>
      <div class="left-content">
      <%= f.text_field :price, id: "price1" %>
      <%= f.collection_select(:yen_id, Yen.all, :id, :name, {}, {class:"yen-select"}) %>
      </div>
    </div>

    <div class="content">
      <%= f.label :recobery, "回収" %>
      <div class="left-content">
      <%= f.text_field :recovery, id: "price2" %>
      <%= f.collection_select(:yen_id, Yen.all, :id, :name, {}, {class:"yen-select"}) %>
      </div>
    </div>

    <div class="content">
      <span>本日の収支</span>
        <div class="price-input">
        <span style="color:white" id="total" ></span>円
        </div>
    </div>

    <div class="content">
      <%= f.label :game_time, "遊技時間" %>
      <div class="left-content">
      <%= f.time_select :game_time, ignore_data: true, default: Date.today+0.hour+0.minute %>
      </div>
    </div>

    <div class="content">
      <%= f.label :memo, "メモ" %>
      <div class="left-content">
      <%= f.text_area :memo, class: "memo" %>
      </div>
    </div>

    <div class="content">
    <div class="btn-content">
      <%= f.submit "登録する", class:"btn" %>
      <%= link_to '戻る', :back %>
    </div>
    </div>

  <% end %>
  </div>
</div>