<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '前月へ'), calendar.url_for_previous_view %>
    <span class="calendar-title"> <%= start_date.year %>年 <%= t('date.month_names')[start_date.month] %></span>
    <%= link_to t('simple_calendar.next', default: '次月へ'), calendar.url_for_next_view %>

    <span class="sum">
    <% @month_sum = 0 %>
    <% @budgets.each do |budget| %>
    <% if budget.start_time.month == start_date.month  &&  budget.start_time.year == start_date.year %>
    <% @month_sum += budget.total.to_i %>
    <% end %>
    <% end %>

    <% if @month_sum > 0 %>
    <span style="color:blue">+<%= @month_sum %></span>
    <% elsif @month_sum == 0 && @budgets.present? %>
    <span style="color:black"><%= @month_sum %></span>
    <% elsif @month_sum < 0 %>
    <span style="color:red"><%= @month_sum %></span>
    <% end %>
    </span>

    <% unless Date.today.year == start_date.year && Date.today.month == start_date.month %>
    <span class="root">
    <%= link_to "今日", root_path %>
    </span>
    <% end %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, id: "calendar-button", class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <ul class="show-lists hidden" id="pull-down">
            <li>結果作成</li>
            <li>結果詳細</li>
          </ul>
    </tbody>
  </table>
</div>
