<div class="login">
<span class="top">パチンコ・スロット収支表</span>
  <fieldset>

    <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Username", class: "field" %>
        
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "field", id: "pass" %>
        <input type="checkbox" onChange="document.getElementById('pass').type = (this.checked) ? 'text' : 'password';">パスワードを表示する

        
        <% if devise_mapping.rememberable? %>
        <div class="">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Enter", class: "action" %>
        </div>
      <% end %>
  </fieldset>
</div>

<%= render "devise/shared/links" %>
